{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="delete-entry">
      <h1><img src="/static/icons/icons8-cat-100.png"> CATCHA!!!</h1>
      <a href="https://icons8.com/icon/9243/cat" target="_blank">Cat icon by Icons8</a>
      <p>Not a robot kitty?</p>
      <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{ form.catcha_code.label }}
        <p>CATCHA: <span><strong>Meow!</strong></span></p>
        {{ form.catcha_code() }}
        {% if form.validate_on_submit() and form.catcha != catcha_code %}
          <span class="error">Code Error: Try again</span>
          <br>
          <br>
        {% endif %}
        <input type="submit" value="Delete Entry" class="button">
        <a href="{{ url_for('detail', id=journal_post.id) }}" class="button button-secondary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
