{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="delete-entry">
      <h1><img src="https://img.icons8.com/ios-filled/50/000000/cat.png"> CATCHA!!!</h1>
      <a href="https://icons8.com/icon/9243/cat" target="_blank">Cat icon by Icons8</a>
      <p>Not a robot kitty?</p>
      <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.catcha_code.label }}
        <p>CATCHA: <span><strong>Meow!</strong></span></p>
        {{ form.catcha_code() }}
        <input type="submit" value="Delete Entry" class="button">
        <a href="{{ url_for('detail', id=journal_post.id) }}" class="button button-secondary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
