{% extends 'base.html' %}
{% block content %}
<section>
  <div class="container">
    <div class="entry-list single">

      <article>
        <h1>{{ journal_post.title }}</h1>
        <time datetime="{{ journal_post.date }}">{{ journal_post.date.strftime("%B %d, %Y") }}</time>
        <div class="entry">
          <h3>Time Spent: </h3>
          <p>{{ journal_post.time_spent }} Minutes</p>
        </div>
        <div class="entry">
          <h3>What I Learned:</h3>
          <p>{{ journal_post.what_you_learned }}</p>
        </div>
        <div class="entry">
          <h3>Resources to Remember:</h3>
          <p>{{ journal_post.resources_to_remember }}</p>
        </div>
      </article>

    </div>
  </div>
    <div class="edit">
      <p><a href="{{ url_for('edit', id=journal_post.id) }}">Edit Entry</a></p>
      <p><a href="{{ url_for('delete', id=journal_post.id) }}">Delete Entry</a></p>
    </div>
</section>
{% endblock %}
