<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="index.html"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="new.html"><span>New Entry</span> <i class="material-icons">add</i></a>
                </div>
            </div>
        </header> -->
        {% extends 'base.html' %}
        {% block content %}
          <section>
            <div class="container">
              <div class="new-entry">
                {% if form.errors %}
                  <ul>
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                      {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ "An integer greater than or equal to 1 is required" }}</li>
                      {% endfor %}
                    {% endfor %}
                  </ul>
                {% endif %}
                <h2>New Entry</h2>
                <form method="POST">
                  {{ form.hidden_tag() }}
                  {{ form.title.label }} {{ form.title }}
                  {{ form.date.label }} {{ form.date }}
                  {{ form.time_spent.label }} {{ form.time_spent }}

                    <!-- {% if form.time_spent.errors %}
                      {% for error in form.time_spent.errors %}
                      <ul>
                        <li>{{ "An integer greater than or equal to 1 is required" }}</li>
                      </ul>
                      {% endfor %}
                    {% endif %} -->

                  {{ form.what_you_learned.label }} {{ form.what_you_learned }}
                  {{ form.resources_to_remember.label }} {{ form.resources_to_remember }}
                  <input type="submit" value="Publish Entry" class="button">
                  <a href="#" class="button button-secondary">Cancel</a>
                </form>
              </div>
            </div>
          </section>


        <!-- <section>
            <div class="container">
                <div class="new-entry">
                    <h2>New Entry</h2>
                    <form>
                        <label for="title"> Title</label>
                        <input id="title" type="text" name="title"><br>
                        <label for="date">Date</label>
                        <input id="date" type="date" name="date"><br>
                        <label for="time-spent"> Time Spent</label>
                        <input id="time-spent" type="text" name="timeSpent"><br>
                        <label for="what-i-learned">What I Learned</label>
                        <textarea id="what-i-learned" rows="5" name="whatILearned"></textarea>
                        <label for="resources-to-remember">Resources to Remember</label>
                        <textarea id="resources-to-remember" rows="5" name="ResourcesToRemember"></textarea>
                        <input type="submit" value="Publish Entry" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section> -->

        {% endblock %}

        <!-- <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    </body>
</html> -->
