{% extends 'base.html' %}
{% from 'macros.html' import display_if_error %}
{% from 'macros.html' import if_top_level_errors %}
{% block content %}
  <section>
    <div class="container">
      <div class="new-entry">
        <h2>New Entry</h2>
        {{ if_top_level_errors(form) }}
        <br>
        <form method="POST">
          {{ form.hidden_tag() }}
          {{ form.title.label }} {{ form.title }}
            {{ display_if_error(form.title, error_message='Error: 40 characters or less required') }}
          {{ form.date.label }} {{ form.date }}
          {{ form.time_spent.label }} {{ form.time_spent }}
            {{ display_if_error(form.time_spent, error_message='Error: int between 1 and 9999999999 required') }}
          {{ form.what_you_learned.label }} {{ form.what_you_learned }}
            {{ display_if_error(form.what_you_learned, error_message='Error: Text required') }}
          {{ form.resources_to_remember.label }} {{ form.resources_to_remember }}
            {{ display_if_error(form.resources_to_remember, error_message='Error: Text required') }}
          <input type="submit" value="Publish Entry" class="button">
          <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </section>

{% endblock %}
